*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}



.container {
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;

}

.logo-container {
  align-self: start;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: "Baloo Bhaina 2", cursive;
}

.collection-title:first-letter {
  text-transform: uppercase;
 
}

.collection-title {
  margin: 5px;
  font-weight: 500;
}

.collection {
  width: 350px;
  /* height: 400px; */
  padding: 1px;
  margin: 5px;
  border: 1px solid rgb(231, 231, 231);
  cursor: pointer;
}

.collection__photos {
  height: 250px;
  /* border: 1px solid red; */
  display: flex;

}

.collection__photos__cover {
  /* border: 1px solid green; */
  margin-right: 1px;
  flex: 2;
}

.img-container {
  overflow: hidden;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection__photos__aside {
  /* border: 1px solid green; */
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}

.collection__photos__aside > div:first-child {
  margin-bottom: 1px;
}


.collection__photos__aside > div {
  flex: 1;
  /* border: 1px solid purple; */
}

main {
  margin: 0 auto;
}

.collections-container {
  
  display: flex;
  flex-wrap: wrap;
}

.collection-photos-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.cols-image-container {
  margin: 5px;
  border: 1px solid rgb(231, 231, 231);
  padding: 2px;
  cursor: pointer;
}

.navigation {
  cursor: pointer;
  margin: 10px;
  color: rgb(113, 113, 180)
} 

.col-title {
  margin: 5px;
}

.invisible {
  display: none
}